* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos gerais */
body {
  margin: 0;
  font-family: "Poppins", serif;
  color: white;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Estilos do header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: #fff;
  position: relative; /* Para posicionar o menu corretamente */
}

header .logo img {
  height: 90px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(51, 176, 6);
  text-decoration: none;
  font-weight: bold;
}

/* Menu hambúrguer (ícone de três pontos) */
.menu-toggle {
  display: none; /* Escondido por padrão */
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    top: 100%; /* Abre o menu abaixo do header */
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  }

  nav ul.active {
    display: flex; /* Mostra o menu quando a classe "active" é adicionada */
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex; /* Mostra o ícone de três pontos em telas menores */
  }
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(global/fundo-de-folha-de-ornamento-de-ouro_1409-1135.jpg);
  background-size: cover;
  opacity: 0.7;
}

.hero-content {
  z-index: 1;
}

.animated-text {
  font-size: 4rem;
  animation: float 3s ease-in-out infinite;
  color: black;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
  color: black;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1rem;
  color: white;
  background: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: linear-gradient(45deg, rgb(112, 238, 58), rgb(51, 176, 6));
}

/* Sobre Nós */
.about-section {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  background: #f9f9f9;
  color: #333;
  text-align: center;
}

.about-content {
  flex: 1;
  padding-right: 20px;
  margin-top: -20px;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  max-width: 500px;
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    align-items: center;
  }
  .about-content {
    text-align: left;
  }
}

/* Galeria */
.gallery-section {
  padding: 60px 20px;
  background: #fff;
  color: #333;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
}

/* Imóveis à Venda */
.properties-section {
  padding: 60px 20px;
  background: #f9f9f9;
  color: #333;
  text-align: center;
}

.properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.property-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card img {
  width: 100%;
  border-radius: 10px;
}

/* Localização */
.location-section {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  background: #fff;
  color: #333;
  text-align: center;
}

.location-content {
  flex: 1;
  padding-right: 20px;
}

.location-image {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.location-image img {
  width: 100%;
  border-radius: 10px;
  max-width: 500px;
}

.location-content iframe {
  width: 100%;
  height: 300px;
  border: 0;
  margin-top: -30px; /* Move o iframe 30px para cima */
}

.location-content h2 {
  padding: 20px;
}
@media (min-width: 768px) {
  .location-section {
    flex-direction: row;
    align-items: center;
  }
  .location-content {
    text-align: left;
  }
}

/* Rodapé */
.footer {
  padding: 20px;
  background: #000000;
  color: white;
  text-align: center;
}

/* Animação de flutuação */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Formulário de Lead */
.lead-form-section {
  padding: 40px 20px; /* Reduzi o padding para telas menores */
  background: #f9f9f9;
  text-align: center;
}

.lead-form-container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lead-form-container h2 {
  font-size: 1.8rem; /* Tamanho menor para telas pequenas */
  margin-bottom: 15px;
  color: #333;
}

.lead-form-container p {
  font-size: 0.9rem; /* Tamanho menor para telas pequenas */
  margin-bottom: 20px;
  color: #666;
}

.lead-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre os campos */
}

.lead-form input,
.lead-form textarea {
  width: 100%;
  padding: 12px; /* Padding menor para telas pequenas */
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box; /* Garante que padding não aumente a largura */
}

.lead-form textarea {
  border-radius: 10px;
  resize: none;
  height: 120px;
}

.lead-form button {
  padding: 12px; /* Padding menor para telas pequenas */
  font-size: 1rem;
  color: white;
  background: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.lead-form button:hover {
  background: linear-gradient(45deg, rgb(112, 238, 58), rgb(51, 176, 6));
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .lead-form-section {
    padding: 20px 10px; /* Padding ainda menor para telas muito pequenas */
  }

  .lead-form-container {
    padding: 15px;
  }

  .lead-form-container h2 {
    font-size: 1.5rem; /* Tamanho menor para telas pequenas */
  }

  .lead-form-container p {
    font-size: 0.8rem; /* Tamanho menor para telas pequenas */
  }

  .lead-form input,
  .lead-form textarea {
    padding: 10px; /* Padding menor para telas pequenas */
    font-size: 0.9rem; /* Fonte menor para telas pequenas */
  }

  .lead-form button {
    padding: 10px; /* Padding menor para telas pequenas */
    font-size: 0.9rem; /* Fonte menor para telas pequenas */
  }
}

/* Sessão Morada Maresia */
.morada-maresia-section {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  background: #f9f9f9;
  color: #000000;
  text-align: center;
}

.morada-maresia-content {
  flex: 1;
  margin-bottom: 20px;
}

.morada-maresia-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.morada-maresia-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.price-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  color: #000000;
}

.price-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price-card .price {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(51, 176, 6);
  margin-bottom: 20px;
}

.morada-maresia-image {
  flex: 1;
  text-align: center;
}

.morada-maresia-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px 100px;
  height: 460px;
}

@media (min-width: 768px) {
  .morada-maresia-section {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .morada-maresia-content {
    margin-bottom: 0;
    padding-right: 40px;
  }
}

/* Sessão Banner Motivacional */
.banner-section {
  position: relative;
  height: 400px;
  background-image: url("global/civil-engineer-construction-worker-manager-holding-digital-tablet-blueprints-talking-planing-about-construction-site-cooperation-teamwork-concept.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner-content {
  z-index: 1;
}

.banner-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.2rem;
}
